
/* stars.css */

.stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

/* Horizontal moving stars - simplified */
.moving-star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  animation: move-left linear infinite;
  left: 100%;
}

@keyframes move-left {
  to {
    transform: translateX(calc(-100vw - 100px));
  }
}

/* Rotating stars ring - single animation */
.rotating-stars-ring {
  position: relative;
  animation: rotate-ring 40s linear infinite;
  transform-origin: center center;
}

@keyframes rotate-ring {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Individual star dot on the ring */
.rotating-star-dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--size, 2px);
  height: var(--size, 2px);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
  transform: 
    translate(-50%, -50%)
    rotate(var(--angle, 0deg))
    translateX(40%)
    rotate(calc(-1 * var(--angle, 0deg)));
}
